/* ######### Registration App CSS file ############-*/

/* Styling for registration form*/
.styleRegForm{
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid lightgrey;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: whitesmoke;
}

/* Styling for header h1*/
h1{
    font-size: 2em;
    padding-top: 10px;
    padding-bottom: 10px;
}