<!-- ######### Registration App ############-->

<!DOCTYPE html>
<html lang="en" ng-app="regApp">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>

    <!-- #### Load stylesheets here #### -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="css/index.css">
    <script type= "text/javascript" src="js/countries.js"></script>

</head>
<body ng-controller="regCtrl as ctrl">
    <!--Add a responsive fixed width container-->
    <div class="container styleRegForm" >
        <!--Title for registration form-->
        <h1>Registration Form</h1>
        <p style=" color: deeppink"><i>Note: fields marked with '*' are mandatory</i></p>
        <form name="regForm" novalidate ng-submit="ctrl.register()">
            <div class="row" style="padding-bottom: 15px">
                <!--submit button. Deliberately place near mandatory fields near top of form-->
                <div class="col-xs-9 col-md-2" >
                    <button type="submit" class="btn btn-primary" ng-disabled="regForm.$invalid">Register</button>
                </div>
            </div>
            <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
        <div class="row" style="padding-bottom: 10px">   <!-- Start row #1 -->
            <!--Name field: mandatory-->
            <div class="col-xs-9 col-md-6">
                <div class="form-group">
                    <label for="username">*Name</label>
                    <input type="text" class="form-control" name="username" id="idName" size="35" required
                           placeholder="Name in full..." ng-model="ctrl.regBlock.username" ng-maxlength="35">
                </div>
                <!--Validations-->
                <div class="help-block"
                     ng-show="regForm.username.$invalid && regForm.username.$error.required">
                    <p>User name is mandatory</p>
                </div>
                <div class="help-block"
                     ng-show="regForm.username.$invalid && regForm.username.$error.maxlength">
                    <p>Maximum 35 characters.</p>
                </div>

            </div>
            <!--Email: mandatory-->
            <div class="col-xs-9 col-md-4">
                <div class="form-group">
                    <label for="email">*Email</label>
                    <input type="email" class="form-control" name="email" id="idEmail" required
                           placeholder="Email..." ng-model="ctrl.regBlock.email">
                </div>
                <!--Validations-->
                <div class="help-block"
                     ng-show="regForm.email.$invalid && regForm.email.$error.required">
                    <p>Your valid email</p>
                </div>
                <!--<div class="help-block"-->
                     <!--ng-show="regForm.email.$invalid && regForm.email.$error.email">-->
                    <!--<p>Email error</p>-->
                <!--</div>-->
            </div>

            <!--password: mandatory-->
            <div class="col-xs-9 col-md-2">
                <div class="form-group">
                    <label for="password">*Password</label>
                    <input type="password" class="form-control" name="password" id="idPassword" required
                           placeholder="Password" ng-model="ctrl.regBlock.password" ng-minlength="6" ng-maxlength="12">
                </div>
                <!--Validations-->
                <div class="help-block"
                     ng-show="regForm.password.$invalid && regForm.password.$error.required">
                    <p>Your password</p>
                </div>
                <div class="help-block"
                     ng-show="regForm.password.$invalid && regForm.password.$error.minlength">
                    <p>Min. 6 characters</p>
                </div>
                <div class="help-block"
                     ng-show="regForm.password.$invalid && regForm.password.$error.maxlength">
                    <p>Max. 12 characters</p>
                </div>

            </div>
        </div>   <!--end row #1 -->

        <div class="row" style="padding-bottom: 10px"> <!-- starts row #2 -->
            <!--Contact telephone number: optional-->
            <div class="col-xs-9 col-md-2">
                <div class="form-group">
                    <label for="tel">Contact</label>
                    <input type="tel" class="form-control" name="tel" id="idTel"
                           placeholder="Telephone number..." ng-model="ctrl.regBlock.contact"
                           ng-pattern=phoneNumberPattern ng-minlength="7">
                </div>
                <!--Validations-->
                <div class="help-block"
                     ng-show="regForm.tel.$invalid && regForm.tel.$error.required">
                    <p>Include country code</p>
                </div>
                <div class="help-block"
                     ng-show="regForm.tel.$invalid && regForm.tel.$error.pattern">
                    <p>Numbers only</p>
                    <!--<p>Match pattern [+91-036-78658 or 91-036-78658]</p>-->
                </div>
                <!--<div class="help-block"-->
                     <!--ng-show="regForm.tel.$invalid && regForm.tel.$error.minlength">-->
                    <!--<p>Min. 7 numbers</p>-->
                <!--</div>-->
            </div>


            <!--Date of birth: optional-->
            <div class="col-xs-9 col-md-3">
                <div class="form-group">
                    <label for="dob">Date of Birth</label>
                    <input type="date" name="dob" id="idDOB" class="form-control"
                           ng-model="ctrl.regBlock.dob">
                </div>
            </div>

            <!--Gender-->
            <div class="col-xs-6 col-md-4">
                <!--Gender field: mandatory-->
                <label>Gender</label><br>
                <label class="radio-inline">
                    <input type="radio" name="gender" id="idGenderMale" ng-model="ctrl.regBlock.gender"
                           value="male" checked> Male
                </label>
                <label class="radio-inline">
                    <input type="radio" name="gender" id="idGenderFemale" ng-model="ctrl.regBlock.gender"
                           value="female"> Female
                </label>
            </div>
        </div> <!--end row #2 -->

        <div class="row" style="padding-bottom: 10px"> <!-- starts row #3 -->
            <!--Address: optional-->
            <div class="col-xs-9 col-md-6">
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="idName" size="35"
                           placeholder="Address..." ng-model="ctrl.regBlock.address">
                </div>
            </div>

            <!--Country: optional-->
            <div class="col-xs-9 col-md-4">
            <!--<div class="col-xs-9 col-md-4 col-md-offset-2">-->
                <div class="form-group">
                    <label for="country">Country</label>
                    <!--form dynamically using ng-model-->
                    <select class="form-control" name="country" id="idCountry" ng-model="ctrl.regBlock.country"
                            ng-options="x for x in countries">
                    </select>
                </div>
            </div>

        </div> <!--end row #3 -->
        </form>

    </div>  <!--container -->

</body>

<!-- #### Load javscripts here #### -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<!--jquery before bootstrap-->
<script type= "text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type= "text/javascript" src="bower_components/angular/angular.js"></script>
<script type= "text/javascript" src="js/index.js"></script>


</html>